pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.0
xgboost==2.0.3
plotly==5.22.0
dash==2.17.1
seaborn==0.13.2
matplotlib==3.9.0
duckdb==0.10.3
jupyter==1.0.0
notebook==7.2.0
joblib==1.4.2
shap==0.45.1
kaggle==1.6.12
